@{
    ViewBag.Title = "Manage Form Builder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row tile_count" ng-controller="ngFormBuilderController" ng-init="clickLoadFormlist()">
    @*<div class="container-fluid" style="padding:10px 10px 10px 10px">*@

    @*<div class="progress-bar" id="prog-bar" style="display: none">
            <span class="progress-bar-fill" style="width: 70%"></span>
        </div>*@

    <!-- Page Heading -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @*<h1 class="page-header">
                    Manage Forms Builder
                </h1>*@
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-book"></i>  <a href="">Forms</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Create/Modify Forms & Details
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <fieldset>
                <form class="form-inline" id="searchForm" method="post">
                    <div class="form-group">
                        <div id="searchInContainer">
                            @*<input type="radio" name="check" value="ID" id="searchFormID" checked ng-model="mdlsearchFormID" ng-change="radioChanged(mdlsearchFormID)" />
                                <label for="searchSite" id="siteNameLabel">Search the Form ID</label>
                                <input type="radio" name="check" value="NAME" id="searchFormName" ng-model="mdlsearchFormName" ng-change="radioChanged(mdlsearchFormName)" />*@
                            <label for="searchWeb">Select The Form Name</label>

                        </div>
                    </div>
                    <div class="form-group">
                        @*<input id="s" type="text" ng-model="mdlInputtext" />*@
                        <select id="s" class="form-control placeholder-color" ng-options="item.form_id as item.form_name for item in formlistdetails"
                                ng-model="mdlformlistdetails" ng-focus="errorMessage=''">
                            <option value="-1" class="placeholder-color">Please select...</option>
                        </select>
                    </div>
                    <input type="submit" value="Submit" id="submitButton" ng-click="clickFormDetails(mdlformlistdetails)" /> @*ng-click="clickLoadFormSeclist(mdlformlistdetails)" />*@


                </form>
            </fieldset>
        </div>
    </div>

    <div class="row" id="fountainG" style="display: none">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
    </div>

    <div class="well" ng-hide="previewMode">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            @*<accordion class="accordion" close-others="oneAtATime" id="monogram-acc">
                <accordion-group ng-repeat="frmsec_item  in formsectiondetails">
                        <accordion-heading> class="accordion-group"
            *@
            <p ng-show="frmsec_item.length == 0">No Sections added yet.</p>
            <div class="panel panel-primary" ng-repeat="frmsec_item  in forms.form.formsectiondetails">
                @*track by frmsec_item.section_id">*@
                <div class="panel-heading" role="tab" id="heading-{{$index}}">
                    <h6 class="panel-title">
                        <a href="" role="button" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#{{frmsec_item.section_id}}-{{$index}}" style="text-decoration:none"
                           ng-click="clickSection(frmsec_item.section_id)">
                            Section : {{frmsec_item.section_name}}
                        </a>
                    </h6>
                </div>
                <div id="{{frmsec_item.section_id}}-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{$index}}">
                    @*** Section Level details for each Question*@
                    <div class="panel-body">
                        <div id="searchForm">
                            <div class="container-fluid">
                                @*<div class="form-group">
                                        <p class="error-warn" ng-show="form.Question_List.length == 0">No Questions added yet.</p>
                                    </div>*@
                                <div class="row" style="position:relative;">
                                    <div class="form-group">
                                        <a href="" role="button" class="btn btn-group-sm" ng-click="addquestions($index)">
                                            <i class="fa fa-plus"> <span class="i-title">Add Question</span></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="form-group">*@
                                    <div class="well_bs_css" ng-repeat="question in frmsec_item.Questions.Question_List">
                                        <form class="form-inline" role="form">
                                            @*<div class="form-group-frmbld">*@
                                            <div class="form-group form-group-sm">
                                                <label for="selqndet" class="col-sm-2 control-label">Select The Question</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" id="selqndet" ng-model="question.q_id" ng-focus="errorMessage=''" ng-change="setSecDetailquestionid($parent.$index, $index, question)">
                                                        <option ng-repeat="item in questiondetails | filter: QnFilter(frmsec_item.section_id)" ng-selected="{{item.q_id == question.q_id}}" value="{{item.q_id}}"
                                                                data-toggle="tooltip" data-trigger="hover" data-placement="top" title="{{item.obj_type}}">
                                                            {{item.question_text}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="selcalctype" class="col-sm-2 control-label">Calculated Type</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" id="selcalctype" name="calctypeOptions" ng-model="question.type_id" ng-focus="errorMessage=''" ng-disabled="(question.q_id<0)">
                                                        @*ng-options="item.type_id as item.calc_type for item in calctypdetails">*@
                                                        <option ng-repeat="item in calctypdetails" ng-selected="{{item.type_id == question.type_id}}" value="{{item.type_id}}">
                                                            {{item.calc_type}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="txtSecSeq" class="col-sm-2 control-label">Sequence / Order</label>
                                                <div class="col-sm-10">
                                                    <input type="text" ng-model="question.sequence" class="form-control" id="txtSecSeq" placeholder="Enter Sequence" ng-focus="errorMessage=''" integer />
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="selcaltype" class="col-sm-2 control-label">Rules</label>
                                                <div class="col-sm-10">
                                                    <a role="button" href="" id="selcaltype" class="btn btn-group-sm btn-primary"
                                                       ng-disabled="(!question.q_id)||(question.q_id<0)||(question.type_id === 0)||(!question.type_id)||(question.type_id === 6)"
                                                       ng-click="selcalcfieldtype($parent.$index, $index)" data-toggle="tooltip" data-placement="top" title="Caculative Rules!">
                                                        <i class="fa fa-fw fa-gear" style="color: white;"> </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="grpaccess" class="col-sm-2 control-label">Access</label>
                                                <div class="col-sm-10">
                                                    <a role="button" href="" id="grpaccess" class="btn btn-group-sm btn-primary" ng-disabled="(!question.q_id)||(question.q_id<0)"
                                                       ng-click="loadGrouplist($parent.$index, $index)" data-toggle="tooltip" data-placement="top" title="Access!">
                                                        <i class="fa fa-users" style="color: white;"> </i>
                                                        @*<span class="glyphicon glyphicon-lock" style="color:red;"></span> Access*@
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="corraction" class="col-sm-2 control-label">Action</label>
                                                <div class="col-sm-10">
                                                    <a role="button" href="" id="corraction" class="btn btn-group-sm btn-primary"
                                                       ng-disabled="(!question.q_id)||(question.q_id < 0)||(question.obj_id === 1)||(question.obj_id === 3)||(question.obj_id === 7)||(!question.type_id)||(question.type_id === 6)"
                                                       ng-click="selcalcCALCCAlist($parent.$index, $index)" data-toggle="tooltip" data-placement="top" title="Corrective Action!">
                                                        <i class="fa fa-external-link" style="color: white;"> </i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="delfld" class="col-sm-2 control-label">Delete</label>
                                                <div class="col-sm-10">
                                                    <a href="" role="button" id="delfld" class="btn btn-group-sm btn-danger" ng-click="deleteField($parent.$index, $index,question)" data-toggle="tooltip" title="Delete!">
                                                        <i class="fa fa-trash-o" style="color: white;"> </i>
                                                        @*<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete*@
                                                    </a>
                                                </div>
                                            </div>
                                            @*</div>
                                                </div>*@

                                        </form>

                                    </div>
                                    @*</div>*@
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                        <div class="form-group" style="float:right">
                                            <a href="" role="button" class="btn btn-group-sm btn-primary pull-right" ng-disabled="(forms.form.Questions.Question_List.length==0)" ng-click="clickSaveSectDetails(forms)">
                                                <i class="fa fa-save fa-lg"> <span class="i-title">Save </span></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* <hr>
            </accordion-heading> </accordion-group>
                </accordion>*@


        @* <p class="text-center">
                        <button class="btn btn-primary right" type="button" ng-click="previewOn()"><i class="icon-eye-open icon-white"></i> Preview Form</button>
                        <button class="btn btn-danger right" type="button" ng-click="reset()"><i class="icon-refresh icon-white"></i> Reset</button>
                    </p>
                   <br>
            <hr>
                    <div class="text-center">
                        <a class="btn btn-small btn-primary" ng-show="!showJson" ng-click="showJson = true">Show form json object</a>
                        <a class="btn btn-small btn-inverse" ng-show="showJson" ng-click="showJson = false">Hide form json object</a><br><br>
                    </div>*@

        <div ng-show="showJson">
            <h4>Form object content:</h4>
            <pre>{{ form | json }}</pre>
            @*<pre>{{ sel_formquestionlists | json }}</pre>*@
        </div>


    </div>

    <div id="myModalCalcFields" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:100%">
        <div class="modal-dialog">
            <div class="modal-content">
                <span style="color:red" ng-show="errMessage">{{secErrMsg}}</span>
                <span style="color:blue" ng-show="succMessage">{{secsuccMsg}}</span>
                <div class="modal-header">
                    Calculated Form Details
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label">Selected Question </label>
                            <div class="col-sm-10" style="width:100%">
                                <span>{{question_text}}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="animate-switch-container" ng-switch="selection">
                                <div ng-switch-when="dvCALC_ADD" style="padding: .35em .35em .35em .35em; height: 100%; width: 100%; " class="animate-switch table-responsive">
                                    <label for="selfrmlist" class="col-sm-2 control-label fa-2x">Please choose the fields to add to this specific question for Calculation</label>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <table ng-table="tblSFCALC_ADDDetails" id="tblSFFormDetailsList" class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Question ID</th>
                                                        <th>Question Text</th>
                                                        <th>Select</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in CALCADDlistdetails">
                                                        <td>{{item.q_id}}</td>
                                                        <td>{{item.question_text}}</td>
                                                        <td style="text-align:center">
                                                            <input type="checkbox" ng-model="item.calc_q_id" ng-checked="{{item.calc_q_id}}" ng-click="selCALCADDValue($event, item)" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                                <tfoot>
                                                    @*{{selcalc_addlists}}*@
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-when="dvCALC_CASE" style="padding: .35em .35em .35em .35em; height: 100%; width: 100%; " class="animate-switch table-responsive">
                                    <div class="input-group input-group-sm">
                                        <button type="submit" class="btn" ng-click="addNewCALCCASEField();"><i class="fa fa-plus"></i> Add new CASE</button>
                                    </div>
                                    <label for="selfrmlist" class="col-sm-2 control-label fa-2x">Please choose the Questions to each "case scenario"</label>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <table ng-table="tblSFFormlistDetails" id="tblSFFormDetailsList" class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>LH Question</th>
                                                        <th>Operation</th>
                                                        <th>RH Question</th>
                                                        <th>Result</th>
                                                        <th>Default</th>
                                                        <th>Select</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="case_item in CALCCASElist.CALC_CASE">
                                                        <td style="text-align:center">
                                                            <select class="form-control"
                                                                    ng-model="case_item.lhs_id" ng-focus="errorMessage=''">
                                                                @*<option style="display:none" value="">select a type</option>*@
                                                                <option ng-repeat="LHQ_item in questiondetailsCalcCase"
                                                                        ng-selected="{{LHQ_item.q_id == case_item.lhs_id}}" value="{{LHQ_item.q_id}}">
                                                                    {{LHQ_item.question_text}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td style="text-align:center">
                                                            @*<select class="form-control" ng-model="mdlCalcCaseRHSquestionId" ng-focus="errorMessage=''" style="width:100%">
                                                                    <option value=">">Greater than</option>
                                                                    <option value="<">Less than</option>
                                                                    <option value="<=">Less than or Equal</option>
                                                                    <option value=">=">Greater than or Equal</option>
                                                                </select>
                                                                <input type="text" ng-model="case_item.operator" class="form-control" id="txtOperator" placeholder="Enter Operation to be performed" ng-focus="errorMessage=''"/>*@
                                                            <select class="form-control"
                                                                    ng-model="case_item.op_id" ng-focus="errorMessage=''">
                                                                @*<option style="display:none" value="">select a type</option>*@
                                                                <option ng-repeat="op_item in lstOperatordetails"
                                                                        ng-selected="{{op_item.op_id == case_item.op_id}}" value="{{op_item.op_id}}">
                                                                    {{op_item.op_field}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td style="text-align:center">
                                                            <select class="form-control"
                                                                    ng-model="case_item.rhs_id" ng-focus="errorMessage=''">
                                                                @*<option style="display:none" value="">select a type</option>*@
                                                                <option ng-repeat="RHQ_item in questiondetailsCalcCase"
                                                                        ng-selected="{{RHQ_item.q_id == case_item.rhs_id}}" value="{{RHQ_item.q_id}}">
                                                                    {{RHQ_item.question_text}}
                                                                </option>
                                                            </select>
                                                        </td>

                                                        <td style="text-align:center">
                                                            <input type="text" ng-model="case_item.result" class="form-control" id="txtResult" placeholder="Enter Result to be Shown" ng-focus="errorMessage=''" />
                                                        </td>
                                                        <td style="text-align:center">
                                                            <input type="text" ng-model="case_item.Default" class="form-control" id="txtDefValue" placeholder="Enter Default Value" ng-focus="errorMessage=''" />
                                                        </td>
                                                        <td style="text-align:center">
                                                            <input type="checkbox" ng-model="case_item.case_id" ng-checked="{{case_item.case_id}}" ng-click="selCALCCASEValue($event, case_item)" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                                <tfoot>
                                                    @*{{selcalc_caselists}}*@
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                @*<div ng-switch-when="dvCALC_CA" style="padding: .15em .75em .15em .75em; height: 100%; width: 100%; " class="animate-switch table-responsive">
                                        <label for="selfrmlist" class="col-sm-2 control-label fa-2x">Please choose the forms to this specific group</label>
                                        <div class="container-fluid">
                                            <p ng-show="form.CALCCAlist.length == 0"> No CA Questions addedd </p>

                                            <div class="row" ng-repeat="caq_calcca_item in form.CALCCAlist.CALC_CA">
                                                <form class="form-group-row" id="searchForm" method="post">
                                                    <div class="col-sm-10">
                                                        <label for="searchWeb">Select The Answer</label>
                                                        <select class="form-control"
                                                                ng-model="caq_calcca_item.ca_answer_id" ng-focus="errorMessage=''">
                                                            <option ng-repeat="calcca_item in CALCanswerdetails"
                                                                    ng-selected="{{calcca_item.answer_id == caq_calcca_item.ca_answer_id}}" value="{{calcca_item.answer_id}}">
                                                                {{calcca_item.answer_text}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <label for="searchWeb">Corrective Action Question</label>
                                                        <select class="form-control"
                                                                ng-model="caq_calcca_item.link_q_id" ng-focus="errorMessage=''">
                                                            <option ng-repeat="calcca_item in questiondetailsCalcCA"
                                                                    ng-selected="{{calcca_item.q_id == caq_calcca_item.link_q_id}}" value="{{calcca_item.q_id}}">
                                                                {{calcca_item.question_text}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-switch-when="dvCALC_CA" style="padding: .15em .75em .75em .15em; height: 100%; width: 100%; " class="animate-switch table-responsive">
                                        <div class="container-fluid">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="txtCAStatement" class="col-sm-2 control-label" style="color: midnightblue">Question/ Statement </label>
                                                    <div class="col-sm-10" style="width:100%">
                                                        <textarea ng-model="form.CALCCAlist.CALC_CA[0].ca_statement_text" class="form-control" id="txtCAStatement" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <table ng-table="tblSFCalcCADetails" id="tblSFCalcIFDetailsList" class="table table-bordered table-condensed">
                                                        <thead>
                                                            <tr style="height: 30px; background-color:#4C5A65; color:#FFFFFF;border: solid 1px #659EC7;">
                                                                <th>Action (if)</th>
                                                                <th>Regulations / Policies </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="caq_calcca_item in form.CALCCAlist.CALC_CA">
                                                                <td style="text-align:center;width:20%">
                                                                    <label class="control-label" style="color: midnightblue">{{caq_calcca_item.parent_answer_text}}</label>
                                                                </td>
                                                                <td style="text-align:center;width:80%">
                                                                    <textarea ng-model="caq_calcca_item.ca_policy_text" class="form-control" id="txtDefValue" placeholder="Enter Regulation Details" rows="3" style="width:100%"></textarea>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>

                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                                <div ng-switch-when="dvCALC_IF" style="padding: .35em .35em .35em .35em; height: 100%; width: 100%; " class="animate-switch table-responsive">
                                    <label for="selfrmlist" class="col-sm-2 control-label fa-2x">Please choose the Questions to each "If Scenario"</label>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <table ng-table="tblSFCalcIFDetails" id="tblSFCalcIFDetailsList" class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>'If' Question</th>
                                                        <th>Operation</th>
                                                        <th>Answer</th>
                                                        <th>Result</th>
                                                        <th>Default</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="caq_calcif_item in forms.form.CALCIFlist.CALC_IF">
                                                        <td style="text-align:center">
                                                            <select class="form-control"
                                                                    ng-model="caq_calcif_item.q_id" ng-focus="errorMessage=''" ng-change="loadanswersCalcIf(caq_calcif_item.q_id)">
                                                                <option ng-repeat="calcif_item in questiondetailsCALCIF"
                                                                        ng-selected="{{calcif_item.q_id == caq_calcif_item.q_id}}" value="{{calcif_item.q_id}}">
                                                                    {{calcif_item.question_text}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td style="text-align:center">
                                                            <select class="form-control"
                                                                    ng-model="caq_calcif_item.op_id" ng-focus="errorMessage=''">
                                                                <option ng-repeat="calcif_item in lstOperatordetails"
                                                                        ng-selected="{{calcif_item.op_id == caq_calcif_item.op_id}}" value="{{calcif_item.op_id}}">
                                                                    {{calcif_item.op_field}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td style="text-align:center">
                                                            <select class="form-control"
                                                                    ng-model="caq_calcif_item.answer_id" ng-focus="errorMessage=''">
                                                                <option ng-repeat="calcif_item in CALCanswerdetails"
                                                                        ng-selected="{{calcif_item.answer_id == caq_calcif_item.answer_id}}" value="{{calcif_item.answer_id}}">
                                                                    {{calcif_item.answer_text}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td style="text-align:center">
                                                            <input type="text" ng-model="caq_calcif_item.result" class="form-control" id="txtResult" placeholder="Enter Result to be Shown" ng-focus="errorMessage=''" />
                                                        </td>
                                                        <td style="text-align:center">
                                                            <input type="text" ng-model="caq_calcif_item.Default" class="form-control" id="txtDefValue" placeholder="Enter Default Value" ng-focus="errorMessage=''" />
                                                        </td>
                                                    </tr>
                                                </tbody>

                                                <tfoot>
                                                    @*{{selcalc_iflists}}*@
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true" ng-click="resetScope();">Close</button>
                    <button class="btn btn-default btn-xs" id="btnLoadGenClaimList" ng-href='#here' ng-click="clickSaveCalcFieldsALL()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalCA" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <span style="color:red" ng-show="errMessage">{{secErrMsg}}</span>
                <span style="color:blue" ng-show="succMessage">{{secsuccMsg}}</span>
                <div class="modal-header">
                    Corrective Action Details
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-2 control-label">Parent Question </label>
                            <div class="col-sm-10" style="width:100%">
                                <span>{{question_text}}</span>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label for="txtCAStatement" class="col-sm-2 control-label">CA Question/ Statement </label>
                            <div class="col-sm-10" style="width:100%">
                                <textarea ng-model="forms.form.CA_Answers[0].ca_statement_text" class="form-control" id="txtCAStatement" rows="3" style="width: 100%"></textarea>
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <table ng-table="tblSFCalcCADetails" id="tblSFCalcIFDetailsList" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Action (If Selected)</th>
                                        <th>Regulations / Policies </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="caq_calcca_item in forms.form.CA_Answers">
                                        <td style="text-align:center;width:20%">
                                            <label class="control-label">{{caq_calcca_item.parent_answer_text}}</label>
                                        </td>
                                        <td style="text-align:center;width:80%">
                                            <textarea ng-model="caq_calcca_item.ca_policy_text" class="form-control" id="txtDefValue" placeholder="Enter Regulation Details" rows="3" style="width:100%"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    @*{{selcalc_calists}}*@
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true" ng-click="resetScope();">Close</button>
                    <button class="btn btn-default btn-xs" ng-href='#here' ng-click="clickSaveCADetails()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalGroupsRoles" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <span style="color:red" ng-show="errMessage">{{secErrMsg}}</span>
                <span style="color:blue" ng-show="succMessage">{{secsuccMsg}}</span>
                <div class="modal-header">
                    Group Details
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <div ng-show="dvGrpAccessDetails" style="padding: .35em .625em .75em; height: 100%; width: 100%; " class="table-responsive">
                                <label for="selfrmlist" class="col-sm-2 control-label fa-2x">Select The Groups and Roles</label>

                                <table ng-table="tblGrpAccessDetails" id="tblGrpAccessDetailsList" class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;display:none;">Group ID</th>
                                            <th>Group Name</th>
                                            <th>Access Level</th>
                                            @*<th>Select</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="grp_item in grplist.ACCESS">
                                            <td style="display:none;">{{grp_item.group_id}}</td>
                                            <td>{{grp_item.group_name}}</td>
                                            <td style="text-align:center">
                                                <select class="form-control"
                                                        ng-model="grp_item.role_id" ng-focus="errorMessage=''" ng-change="selACCESSValue(grp_item)">
                                                    <option ng-repeat="item in formroledetails"
                                                            ng-selected="{{item.role_id == grp_item.role_id}}" value="{{item.role_id}}">
                                                        {{item.role_desc}}
                                                    </option>
                                                </select>
                                            </td>
                                            @*<td style="text-align:center">
                                                    <input type="checkbox" ng-model="grp_item.roll_id" ng-checked="{{grp_item.role_id}}" ng-click="selACCESSValue($event, grp_item,mdlgrprolelistdetails)" />
                                                </td>*@
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        @*{{selaccesslists}}*@
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true" ng-click="resetScope();">Close</button>
                    <button class="btn btn-default btn-xs" id="btnLoadGenClaimList" ng-href='#here' ng-click="clickSavefrmlstGrp()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalfrmbldr" role="dialog" tabindex="-1" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><strong>Notification!</strong></h4>
                </div>
                <div class="modal-body">
                    <strong>{{outputdata}}</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal" ng-click="refresh();"><span class="glyphicon glyphicon-remove search-close-icon">Close</span></button>
                </div>

            </div>
        </div>
    </div>


    @*<div class="form-fields-preview" ng-show="previewMode">
            <forms-directive form="previewForm"></forms-directive>

            <p class="text-center">
                <button class="btn btn-primary btn-large right" type="button" ng-click="previewOff()"><i class="icon-arrow-left icon-white"></i> Back to Create Mode</button>
            </p>
        </div>*@
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/app/states/formbuilder/form-builder.controller.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/components/formbuilder/services/form-builder.service.js")"></script>
}
