
@{
    ViewBag.Title = "ManageInspection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="row tile_count" ng-controller="ngInspectionController">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @*<h1 class="page-header">
                    Manage Inspection
                </h1>*@
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa fa-gear"></i>  <a href="">Inspection</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-edit"></i> View/Edit Inspection Details
                    </li>
                </ol>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <fieldset>
                    <form class="form-inline" id="searchForm" method="post">
                        <div class="form-group">
                            <div id="searchInContainer">
                                <label for="searchWeb">Select The Form Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select id="s" class="form-control placeholder-color" ng-options="item.form_id as item.form_name for item in formlistdetails"
                                    ng-model="mdlformlistdetails" ng-focus="errorMessage=''" ng-change="setFormid(mdlformlistdetails)">
                                <option value="-1" class="placeholder-color">Please select...</option>
                            </select>
                        </div>                    
                        @*<div class="form-group">
                            <div id="searchInContainer">
                                <label for="searchWeb">School</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select id="s" class="form-control placeholder-color" ng-options="item.cschool as item.cschname for item in Schoollistdetails"
                                    ng-model="mdlSchoollistdetails" ng-focus="errorMessage=''" ng-change="setSchoolid(mdlSchoollistdetails)">
                                <option value="-1" class="placeholder-color">Please select...</option>
                            </select>
                        </div>*@                
                        <div class="form-group" style="float:right">
                            <a href="" id="btnNewinspection" role="button" class="btn btn-group-sm fap-links" ng-click="clickAddInspection()"><i id="faicon" class="fa fa-plus" style="color: white;"> </i></a>
                        </div>
                        @*<div class="form-group" style="float:right">
                            <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true" ng-click="clickOfflineData();">Offline</button>
                        </div>*@
                    </form>
                </fieldset>
            </div>
        </div>

        <div class="form-fields-preview" ng-show="previewMode">
            <forms-directive form="forms"></forms-directive>
            @*<p class="text-center">
                <button class="btn btn-primary btn-large right" type="button" ng-click="previewOff()"><i class="icon-arrow-left icon-white"></i> Back to Create Mode</button>
            </p>*@
        </div>

        @*<div class="text-center">
            <a class="btn btn-small btn-primary" ng-show="!showJson" ng-click="showJson = true">Show form json object</a>
            <a class="btn btn-small btn-inverse" ng-show="showJson" ng-click="showJson = false">Hide form json object</a><br><br>
        </div>*@

        <div class="modal fade" id="myModalfrmbldr" role="dialog" tabindex="-1" aria-labelledby="myModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"><strong>Notification!</strong></h4>
                    </div>
                    <div class="modal-body">
                        <strong>{{outputdata}}</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal" ng-click="refresh();"><span class="glyphicon glyphicon-remove search-close-icon">Close</span></button>
                    </div>

                </div>
            </div>
        </div>

        <div id="fountainG" style="display: none">
            <div id="fountainG_1" class="fountainG"></div>
            <div id="fountainG_2" class="fountainG"></div>
            <div id="fountainG_3" class="fountainG"></div>
            <div id="fountainG_4" class="fountainG"></div>
            <div id="fountainG_5" class="fountainG"></div>
            <div id="fountainG_6" class="fountainG"></div>
            <div id="fountainG_7" class="fountainG"></div>
            <div id="fountainG_8" class="fountainG"></div>
        </div>

        <div id="myModalSchlDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:100%"> @*data-easein="flipBounceXIn" data-backdrop="static"*@ 
            <div class="modal-dialog">
                <div class="modal-content">
                    <span style="color:red" ng-show="errMessage">{{secErrMsg}}</span>
                    <span style="color:blue" ng-show="succMessage">{{secsuccMsg}}</span>
                    <div class="modal-header">
                        School Information / Details
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group form-group-sm">                                                 
                                <div style="padding: .15em .75em .15em .75em; height: 100%; width: 100%; " class="table-responsive">
                                    <label for="selfrmlist" class="col-sm-2 control-label fa-2x">Please choose the School to Create/View Inspection</label>
                                    <div id="searchForm" class="col-sm-10">
                                        @*<div class="container-fluid">
                                            <form class="form-inline" method="post">
                                                <div class="form-group row" id="searchInContainer">
                                                    <label for="searchWeb" class="col-sm-2 control-label" style="color:white">Select The School</label>
                                                    <div class="col-sm-10">*@
                                                        <select class="form-control" id="selfrmlist" ng-options="item.cschool as item.cschool + ' - ' + item.cschname for item in Schoollistdetails"
                                                                ng-model="mdlSchoollistdetails" ng-focus="errorMessage=''"></select>
                                                    @*</div>
                                                </div>
                                            </form>
                                        </div>*@
                                    </div>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-xs" data-dismiss="modal" aria-hidden="true" ng-click="setSchoolid(mdlSchoollistdetails);">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="showJson">
            <h4>Form object:</h4>
            <pre>{{ previewForm | json }}</pre>
        </div>

  
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/app/states/inspection/inspection.controller.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/components/inspection/services/inspection.service.js")"></script>
}




