
<div class="form-group">
    <label for="check-{{field.q_id}}" class="col-sm-2 control-label">
        {{field.question_text}}
    </label>
    <div ng-repeat="option in field.answerList" class="col-sm-10">
        <label class="checkbox-inline">
            <input id="check-{{field.q_id}}" type="checkbox" ng-model="option.given_answer" ng-true-value="1" value="{{option.answer_id}}" ng-false-value="0" ng-disabled="{{field.readwrite}}" />
            &nbsp;<span ng-bind="option.answer_text"></span>
        </label>
    </div>
</div>
