<!--<div class="input-group input-group-sm" style="width:100%">
    <span class="input-group-addon" id="sizing-addon1">{{field.question_text}} : </span>
    <input type="text" class="form-control" id="{{field.q_id}}" ng-model="field.given_answer" ng-disabled="{{field.readwrite}}">
</div>
<br>-->
<div class="form-group row">
    <label for="text-{{field.q_id}}" class="col-sm-2 control-label">
        {{field.question_text}}
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="text-{{field.q_id}}" ng-model="field.answerList.given_answer" ng-disabled="{{field.readwrite}}">
    </div>
</div>